.report-list {
    margin: auto; /* İçeriği sayfanın ortasına hizalar */
    padding: 20px;
    border-radius: 8px;
    background-color: #f5f5f5;
    width: 90%; /* Genişlik ayarlayabilirsiniz */
    max-width: 1150px; /* Max genişlik ayarlayabilirsiniz */
  }
  
  .report-item {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  label,
  input {
    margin: 10px 0;
    display: block;
  }
  
  button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
